:root {
  --bg-color: #e4f3fa;
  --dark2-color: #023047;
  --font-color: #696969;
  --main-color: #eae9e9;
  --primary-color: #1d2d3d;
  --secondary-color: #495e74;
  --gray-color: #778697;
  --dark-color: #292b2c;
  --blue-color: #0275d8;
  --blue2-color: #62e0e8;
  --blue3-color: #0551e7;
  --green-color: #27ae60;
  --green-sea-color: #16a085;
  --pumpkin-color: #d35400;
  --red-color: #d9534f;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--white-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Some Global Classes For icons */
.bi-pencil-square svg {
  color: var(--green-sea-color);
  margin-right: 15px;
}

.bi-trash-fill svg {
  color: var(--red-color);
}

/* Scrollbar Classes For Google Chrome */

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--dark2-color);
}

.comments-list-box::-webkit-scrollbar,
.table-container ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.comments-list-box::-webkit-scrollbar-track,
.table-container ::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
.comments-list-box::-webkit-scrollbar-thumb,
.table-container ::-webkit-scrollbar-thumb {
  background-color: var(--dark2-color);
}

@media (max-width: 520px) {
  footer p {
    font-size: 14px;
  }
}

/* Modals Style */
.update-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-modal-form {
  width: 700px;
  background-color: var(--white-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
}

.update-modal-form-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--red-color);
  font-size: 25px;
  cursor: pointer;
}

.update-modal-title {
  margin-bottom: 10px;
  font-size: 23px;
  color: var(--green-sea-color);
  text-align: center;
}

.update-modal-input,
.update-modal-textarea {
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid var(--gray-color);
  padding: 10px;
  margin: 10px 0;
}

.update-modal-textarea {
  resize: none;
}

.update-modal-btn {
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: var(--green-sea-color);
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

@media (max-width: 520px) {
  .update-modal {
    padding: 10px;
  }
  .update-modal-title {
    font-size: 18px;
  }
  .update-modal-form {
    width: 100%;
    padding: 10px;
  }
  .update-modal-btn {
    font-size: 15px;
    padding: 7px;
  }
  .update-modal-input,
  .update-modal-textarea {
    font-size: 16px;
  }
}

